<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <nav th:replace="fragments :: navbar"></nav>

        <h1>MultiVote</h1>

        <h3>Create Polls with Any Voting Method!</h3>

        <p>Some sites allow for a quick host of polls, like Survey Monkey and Strawpoll.
        These platforms only offer a single voting system for all polls however, the dreaded Plurality Voting.
        MultiVote is here for those who need the ability to create polls using whichever voting system they please!
        MultiVote will be supporting the following voting systems.</p>

        <div>
            <h4>Plurality Voting</h4>
            <p></p>

        </div>
        <div>
            <h4>Ranked Choice Voting</h4>
            <p></p>

        </div>
        <div>
            <h4>Approval Voting</h4>
            <p></p>

        </div>
    </body>
</html>