<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

    <nav th:replace="fragments :: navbar"></nav>

    <div class="container">

        <form th:object="${newPoll}" method="POST" th:action="@{/new-poll/}">

            <div class="form-group">
                <label th:for="name">Name</label>
                <input th:field="*{name}" class="form-control"/>
                <span th:errors="*{name}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="votingSystem">Voting System</label>
                <select th:field="*{votingSystem}" class="custom-select">
                    <option th:each="votingSystem : *{allVotingSystems}"
                            th:value="${votingSystem}"
                            th:text="${votingSystem}">
                    </option>
                </select>
                <span th:errors="*{votingSystem}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="candidates">Candidate 1</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>

                <label th:for="candidates">Candidate 2</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>

                <label th:for="candidates">Candidate 3</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>

                <label th:for="candidates">Candidate 4</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>

                <label th:for="candidates">Candidate 5</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>

                <label th:for="candidates">Candidate 6</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>

                <label th:for="candidates">Candidate 7</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>

                <label th:for="candidates">Candidate 8</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>

                <label th:for="candidates">Candidate 9</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>

                <label th:for="candidates">Candidate 10</label>
                <input th:field="*{candidates}" class="form-control" />
                <span th:errors="*{name}" class="error"></span>
            </div>

            <input type="hidden" name="userId" th:value="${user.id}"/>

            <input class="form-control" type="submit" value="Create Poll"/>

        </form>

    </div>

    </body>
</html>