<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>

        <head th:replace="fragments :: head"></head>

    </head>
    <body>

        <nav th:replace="fragments :: userNavbar"></nav>


    <div class="container">
        <h1 th:text="${poll.name}">Poll Name</h1>
        <h2 class="text-center" th:text="${poll.votingSystem}"></h2>
        <h5 class="text-center" th:text="${dateCreated}"></h5>

        <div class="row">
            <div class="col-6">
                <h3 class="text-center">Candidates</h3>

                <h4 th:each="candidate : ${poll.candidates}"
                    th:text="${candidate.name}"
                    class="text-center"></h4>
            </div>
            <div class="col-6">
                <div th:if="${poll.votingSystem == 'Approval'} ">
                    <h3 class="text-center">Votes</h3>

                    <h4 th:each="candidate : ${poll.candidates}"
                        th:text="${candidate.numApprovalVotes}"
                        class="text-center"
                    ></h4>
                </div>
                <div th:if="${poll.votingSystem == 'Plurality'} ">
                    <h3 class="text-center">Votes</h3>

                    <h4 th:each="candidate : ${poll.candidates}"
                        th:text="${candidate.numPluralityVotes}"
                        class="text-center"
                    ></h4>
                </div>
                <div th:if="${poll.votingSystem == 'Ranked Choice'} ">
                    <h3 class="text-center">Votes</h3>
                    <table th:each="thisCandidate,index : ${poll.candidates}" class="table">
                        <thead>
                        <th th:text="${thisCandidate.name}">
                        </th>
                            <th th:each="candidate,rank : ${poll.candidates}"
                                th:text="'Rank ' + ${rank.count} + ' Votes'"></th>
                        </thead>
                        <tbody>
                            <th>Votes</th>
                            <td th:each="candidate,rank : ${poll.candidates}"
                                th:text="${thisCandidate.rank__${rank.count}__Votes}"></td>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


        <form th:action="@{/poll/vote/} + ${poll.id}">
            <button class="btn btn-success btn-block">Vote</button>
        </form>

    </div>

    </body>
</html>