<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>

        <head th:replace="fragments :: head"></head>

    </head>
    <body>

        <nav th:replace="fragments :: navbar"></nav>


    <div class="container">
        <h1 th:text="${poll.name}">Poll Name</h1>
        <h2 th:text="${poll.votingSystem}"></h2>

        <h3>Candidates</h3>

        <h4 th:each="candidate : ${poll.candidates}"
            th:text="${candidate.name}"></h4>

    </div>

    </body>
</html>