<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>
    <body>

    <nav th:replace="fragments :: navbar"></nav>

    <div class="container">

        <form th:object="${searchForm}" method="post" action="/search">
            <div class="form-group">

                <label th:for="term">Search Term:</label>
                <input th:field="*{term}" class="form-control"/>
                <span th:errors="*{term}" class="error"></span>

            </div>

            <div class="form-group">

                <div class="custom-control custom-checkbox">

                    <input name="searchedVotingSystems"
                           id="Plurality"
                           value="Plurality"
                           type="checkbox" checked class="custom-control-input" />
                    <label for="Plurality" class="custom-control-label">Plurality</label>

                </div>

                <div class="custom-control custom-checkbox">

                    <input name="searchedVotingSystems"
                           id="Approval"
                           value="Approval"
                           type="checkbox" checked class="custom-control-input" />
                    <label for="Approval" class="custom-control-label">Approval</label>

                </div>

                <div class="custom-control custom-checkbox">

                    <input name="searchedVotingSystems"
                           id="Ranked Choice"
                           value="Ranked Choice"
                           type="checkbox" checked class="custom-control-input" />
                    <label for="Ranked Choice" class="custom-control-label">Ranked Choice</label>

                </div>

                <span th:errors="*{searchedVotingSystems}" class="error"></span>

            </div>

            <div class="form-group">

                <div class="custom-control custom-checkbox">

                    <input name="searchTermArea"
                           id="Poll Name"
                           value="Poll Name"
                           type="checkbox" checked class="custom-control-input" />
                    <label for="Poll Name" class="custom-control-label">Poll Name</label>

                </div>

                <div class="custom-control custom-checkbox">

                    <input name="searchTermArea"
                           id="Host Name"
                           value="Host Name"
                           type="checkbox" checked class="custom-control-input" />
                    <label for="Host Name" class="custom-control-label">Host Name</label>

                </div>

                <span th:errors="*{searchTermArea}" class="errors"></span>

            </div>

            <input class="form-control" type="submit" value="Search"/>

        </form>

    </div>

    <div th:if="${results}" class="container">

        <div th:each="poll : ${results}">
            <a th:href="@{/poll/} + ${poll.id}">
                <h2 th:text="${poll.name} + ' by: ' + ${poll.user.name}">

                </h2>
            </a>
        </div>

    </div>

    </body>
</html>