<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <nav th:replace="fragments :: userNavbar"></nav>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div th:if="${user.polls}">
                        <div th:each="poll : ${user.polls}">
                            <a th:href="@{/poll/} + ${poll.id}">
                                <h2 th:text="${poll.name}">

                                </h2>
                            </a>
                        </div>
                    </div>

                    <form th:action="@{/new-poll/} + ${user.name}">
                        <button class="btn btn-lg btn-block btn-primary">Create Poll</button>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>